body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 200px;
  height: 100vh;
  font-size: 16px;
  font-family: "Futura";
  background: url(./img/Oboi_ot_Koli_336.jpg);
}

.timer {
  font-weight: 300;
  font-size: 8em;
  color: #ffffff;